body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(238, 238, 246);
}

.col-lg-12 h1 {
    font-size: 2.5rem;
    line-height: 1.5;
    font-weight: 1000;
    color: #f8f9fa;
}

h3 {
    color: rgb(57, 125, 122);
}

#title {
    /* margin: 3% 15%; */
    /* background-image: linear-gradient(to right, rgb(60, 60, 117), rgb(103, 79, 30)); */
    background: linear-gradient(rgba(5, 5, 30, 0.6), rgba(9, 7, 18, 0.8)), url("background.jpg");
    background-size: cover;
    background-position: center;
    height: 60vh;
}

.btn-outline-success {
    color: #a1300a;
    border-color: #02120a;
    font-weight: bold;
}

.container-fluid {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 3%
}

.t_button {
    margin: 5% 3% 5% 0;
}

.navbar-brand {
    color: rgb(241, 240, 240) !important;
    font-size: 3rem;
    font-family: 'Poppins Bold';
}


.nav-link {
    color: white !important;
}

.navbar {
    padding: 0 0 0 4.5rem;

}

.xyz {
    padding-top: 2rem;
    transition: color 0.2s ease-in-out;
}


.textbox {
    text-align: center;
    padding-top: 7%;
}

.explore {
    width: 80%;
    margin: auto;
    padding-top: 150px;
    padding-left: 0;
    padding-right: 0;
}

.explore p {
    padding-right: 10px;
    color: #7d7877;
}

/* footer  */
.footer {
    text-align: center;
    padding: 30px 0;
    margin: 50px auto;
    width: 80%;
}

.footer h4 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 800px;
}

.footer i {
    padding-left: 20px;
    cursor: pointer;
    color: #2a79b5;
}

.footer p i {
    padding-left: 0;
    margin-top: 10px;
    color: red;

}

@media(min-width:996px) {
    form {
        padding-left: 200px;
        padding-top: 33px;
    }
}
